<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.SysRightMapper">
  <resultMap id="BaseResultMap" type="com.crm.entity.SysRight">
    <id column="RIGHT_CODE" jdbcType="VARCHAR" property="rightCode" />
    <result column="RIGHT_PARENT_CODE" jdbcType="VARCHAR" property="rightParentCode" />
    <result column="RIGHT_TYPE" jdbcType="VARCHAR" property="rightType" />
    <result column="RIGHT_TEXT" jdbcType="VARCHAR" property="rightText" />
    <result column="RIGHT_URL" jdbcType="VARCHAR" property="rightUrl" />
    <result column="RIGHT_TIP" jdbcType="VARCHAR" property="rightTip" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RIGHT_CODE, RIGHT_PARENT_CODE, RIGHT_TYPE, RIGHT_TEXT, RIGHT_URL, RIGHT_TIP
  </sql>
  <select id="selectByExample" parameterType="com.crm.entity.SysRightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_RIGHT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_RIGHT
    where RIGHT_CODE = #{rightCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_RIGHT
    where RIGHT_CODE = #{rightCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.entity.SysRightExample">
    delete from SYS_RIGHT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.entity.SysRight">
    insert into SYS_RIGHT (RIGHT_CODE, RIGHT_PARENT_CODE, RIGHT_TYPE, 
      RIGHT_TEXT, RIGHT_URL, RIGHT_TIP
      )
    values (#{rightCode,jdbcType=VARCHAR}, #{rightParentCode,jdbcType=VARCHAR}, #{rightType,jdbcType=VARCHAR}, 
      #{rightText,jdbcType=VARCHAR}, #{rightUrl,jdbcType=VARCHAR}, #{rightTip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.SysRight">
    insert into SYS_RIGHT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rightCode != null">
        RIGHT_CODE,
      </if>
      <if test="rightParentCode != null">
        RIGHT_PARENT_CODE,
      </if>
      <if test="rightType != null">
        RIGHT_TYPE,
      </if>
      <if test="rightText != null">
        RIGHT_TEXT,
      </if>
      <if test="rightUrl != null">
        RIGHT_URL,
      </if>
      <if test="rightTip != null">
        RIGHT_TIP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rightCode != null">
        #{rightCode,jdbcType=VARCHAR},
      </if>
      <if test="rightParentCode != null">
        #{rightParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null">
        #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="rightText != null">
        #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null">
        #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null">
        #{rightTip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.entity.SysRightExample" resultType="java.lang.Long">
    select count(*) from SYS_RIGHT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_RIGHT
    <set>
      <if test="record.rightCode != null">
        RIGHT_CODE = #{record.rightCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rightParentCode != null">
        RIGHT_PARENT_CODE = #{record.rightParentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rightType != null">
        RIGHT_TYPE = #{record.rightType,jdbcType=VARCHAR},
      </if>
      <if test="record.rightText != null">
        RIGHT_TEXT = #{record.rightText,jdbcType=VARCHAR},
      </if>
      <if test="record.rightUrl != null">
        RIGHT_URL = #{record.rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.rightTip != null">
        RIGHT_TIP = #{record.rightTip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_RIGHT
    set RIGHT_CODE = #{record.rightCode,jdbcType=VARCHAR},
      RIGHT_PARENT_CODE = #{record.rightParentCode,jdbcType=VARCHAR},
      RIGHT_TYPE = #{record.rightType,jdbcType=VARCHAR},
      RIGHT_TEXT = #{record.rightText,jdbcType=VARCHAR},
      RIGHT_URL = #{record.rightUrl,jdbcType=VARCHAR},
      RIGHT_TIP = #{record.rightTip,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.SysRight">
    update SYS_RIGHT
    <set>
      <if test="rightParentCode != null">
        RIGHT_PARENT_CODE = #{rightParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null">
        RIGHT_TYPE = #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="rightText != null">
        RIGHT_TEXT = #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null">
        RIGHT_URL = #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null">
        RIGHT_TIP = #{rightTip,jdbcType=VARCHAR},
      </if>
    </set>
    where RIGHT_CODE = #{rightCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.SysRight">
    update SYS_RIGHT
    set RIGHT_PARENT_CODE = #{rightParentCode,jdbcType=VARCHAR},
      RIGHT_TYPE = #{rightType,jdbcType=VARCHAR},
      RIGHT_TEXT = #{rightText,jdbcType=VARCHAR},
      RIGHT_URL = #{rightUrl,jdbcType=VARCHAR},
      RIGHT_TIP = #{rightTip,jdbcType=VARCHAR}
    where RIGHT_CODE = #{rightCode,jdbcType=VARCHAR}
  </update>
</mapper>